



<h1>To Do</h1>

<p>Here are all of your lists:</p>

<ul>
<% @lists.each() do |list| %>
<li><a href='/lists/<%= list.id%>'><%= list.name %></a><br><a href="/list<%= list.id() %>/edit">  Update this list's name</a></li>
<% end %>
</ul>

<p>Create a new list:</p>

<form action="/lists" method="post">
  <label for="description">List Name</label>
  <input name="name" type="text">

  <button type="submit">Add list</button>
</form>

<form action="/tasks" method="post">
  <select name="list_id" type="text">
    <% @lists.each() do |list| %>
      <option value= '<%= list.id() %>'><a href="/lists/<%= list.id() %>"><%= list.name() %></a></option>
    <% end %>
  </select>

  <p>Create a new task:</p>

  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add task</button>
</form>
