



<h1>To Do</h1>

<p>Here are all of your lists:</p>

<ul>
<% @lists.each() do |list| %>
<li><%= list.name %><a href="/list<%= list.id() %>/edit">  Update this list's name</a></li>
<% end %>
</ul>

<p>Create a new list:</p>

<form action="/lists" method="post">
  <label for="description">List Name</label>
  <input name="name" type="text">

  <button type="submit">Add list</button>
</form>

<select>
  <% @lists.each() do |list| %>
  <option name="list_id" value= '<%= list.id() %>'><a href="/lists/<%= list.id() %>"><%= list.name() %></a></option>
<% end %>
</select>

<p>Create a new task:</p>

<form action="/tasks" method="post">
  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add task</button>
</form>
